@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
    url('../fonts/MyriadPro-Bold.woff') format('woff'),
    url('../fonts/MyriadPro-Bold.ttf') format('truetype'),
    url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Myriad Pro';
}

.container {
    background-color: #ffffff;
}

.container_black {
    background-color: #000000;
}

.container_silver {
    background-color: #c4c4c4;
}

.block {
    max-width: 850px;
    margin: auto;
}


h1 {
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
    padding: 26px 0;
}

.time {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 4px;
}

h3 {
    font-size: 48px;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 45px;
}
h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
}

.photo {
    flex: 0 0 210px;
}

.photo img {
    max-width: 100%;
}

h5{
    font-size: 48px;
    color: #000000;
    text-transform: uppercase;
    margin: 32px 38px 0 14px;
}

h6{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #000000;
    margin: 32px 0 20px 0;
}

p{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #000000;
}

.speakers{
    padding: 28px 0 26px 0;
}
.speaker_item{
    display: flex;
}
.margin{
    margin-bottom: 42px;
}


/*Block_row----------------------------------*/


.program_row{
    display: flex;
    padding: 28px 0 26px 162px;
}
.program_items{
    margin-right: 112px;
    flex: 0 1 155px;
}
.program_items:last-child{
    margin-right: 0;
}

.marketing{
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}
.moderator{
    font-family: 'Oswald' ,sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #000000;
}
.name{
    font-family: 'Oswald' ,sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin-top: -5px;
}
.content:before{
    display: block;
    content: "";
    border: 1px solid #000000;
    width: 80%;
    position: relative;
    top: 60px;
    left: 80px;
    z-index: 2;
}
.content_row{
    display: flex;
    padding-bottom: 54px;
    position: relative;
}

.content_items{
    margin-left: 102px;
}
.content_items:last-child{
    margin-right: 0;
}
.time_2{
    display: flex;
    align-items: center;
    height: 120px;
    width: 78px;
}
.block_grow{
    min-width: 166px;
}
.time_2 div{
    font-size: 24px;
}
.photo_2{
    flex: 0 0 120px;
}
.photo_2 img{
    /*width: 100%;*/
}
.last_name{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin: 28px 0 20px 0;
}
span{
    display: block;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #000000;
    margin: -5px 0;
}

.logo{
    display: flex;
    height: 210px;
    width: 210px;
    border: 1px solid #000000;

}
.logo div{
    margin: auto;
}