@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
    url('../fonts/MyriadPro-Bold.woff') format('woff'),
    url('../fonts/MyriadPro-Bold.ttf') format('truetype'),
    url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Myriad Pro';
}

.container {
    background-color: #ffffff;
}

.container_black {
    background-color: #000000;
}

.container_silver {
    background-color: #c4c4c4;
}

.block {
    max-width: 850px;
    margin: auto;
}


h1 {
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
    padding: 26px 0;
}

.time {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 4px;
}

h3 {
    font-size: 48px;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 45px;
}
h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
}

.photo {
    flex: 0 1 210px;
}

.photo img {
    width: 100%;
}

h5{
    font-size: 48px;
    color: #000000;
    text-transform: uppercase;
    margin: 32px 38px 0 14px;
}

h6{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #000000;
    margin: 32px 0 20px 0;
}

p{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #000000;
}

.speakers{
    padding: 28px 0 26px 0;
}
.speaker_item{
    display: flex;
}
.margin{
    margin-bottom: 42px;
}

/*посмотреть на маргин 4пкс и решить с speakers отступами*/